*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-color: #0e0e0ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}
h1{
    text-transform: capitalize;
    font-weight: 600;
    color: #000000dc;
    margin-bottom: 30px;
}
.qrCodeBox{
    width: 50%;
    max-height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.QR_code{
    width: 100%;
    padding: 10px;
}
.qrCodeBox.showQR{
    max-height: 500px;
    transition: max-height 1.5s;
}

.inutItam,.generate-QR{
    padding: .7rem 1.6rem;
    background-color: #2546a1ac;
    color: rgb(12, 16, 12);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.inutItam:focus{
    outline: none;
}
.inutItam{
    border: 1px solid #423d8e65;
    background-color: #fff;
}
.error{
    animation: shake 0.1s linear 10;
    border: 1px solid #ff0000;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}